In [1]:
path = '/Users/simonbian/大三下/CS470/project/combined.csv'
import pandas as pd
df = pd.read_csv(path)

/var/folders/0p/bfk7s5314wzfkww172k0x4280000gn/T/ipykernel_36015/3849344913.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [37]:
schools = pd.read_csv('schools.csv')

In [7]:
df[['Major', 'School']] = df['Major_School'].str.rsplit(',', 1, expand=True)

/var/folders/0p/bfk7s5314wzfkww172k0x4280000gn/T/ipykernel_36015/1902190282.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.rsplit except for the argument 'pat' will be keyword-only.
  df[['Major', 'School']] = df['Major_School'].str.rsplit(',', 1, expand=True)

In [44]:
p2 = df[100:300].copy()
p2

,Major_School,Description,Date_Added,Status_Date,GRE_Stats,GPA,Degree,Citizenship,Attribute_1,Attribute_2,Attribute_3,Major,School
100,"Chemical Engineering, University Of Colorado, ...",Informed via portal,"January 29, 2024",Rejected on 29 Jan,NaN,GPA 3.78,PhD,International,Fall 2024,NaN,NaN,"Chemical Engineering, University Of Colorado",Boulder
101,"History, University Of Virginia",No interview. Got an email to check portal for...,"January 29, 2024",Wait listed,NaN,GPA 3.84,PhD,American,Fall 2024,NaN,NaN,History,University Of Virginia
102,"History, University Of Virgina",No interview.,"January 29, 2024",Wait listed,NaN,NaN,PhD,International,Fall 2024,NaN,NaN,History,University Of Virgina
103,"Modern Culture And Media (MCM), Brown University",What is REALITY???? GPA is MA,"January 29, 2024",Accepted on 29 Jan,NaN,GPA 4.00,PhD,American,Fall 2024,NaN,NaN,Modern Culture And Media (MCM),Brown University
104,"Hispanic Languages And Literature, SUNY Stony ...",NaN,"January 29, 2024",Interview,NaN,NaN,PhD,International,Spring 2024,NaN,NaN,Hispanic Languages And Literature,SUNY Stony Brook
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,"Political Science, University Of California, B...",NaN,"January 29, 2024",Accepted on 29 Jan,NaN,NaN,PhD,International,Fall 2024,NaN,NaN,"Political Science, University Of California",Berkeley
296,"Computer Science, Kennesaw State University",Interview with Department on 19th. PI intervie...,"January 29, 2024",Interview,NaN,GPA 3.57,PhD,American,Fall 2024,NaN,NaN,Computer Science,Kennesaw State University
297,"Computer Science, Kennesaw State University",NaN,"January 29, 2024",Interview,NaN,GPA 3.57,PhD,American,Fall 2024,NaN,NaN,Computer Science,Kennesaw State University
298,"Cultural Anthropology, Cornell University",NaN,"January 29, 2024",Accepted on 29 Jan,NaN,NaN,PhD,American,Fall 2024,NaN,NaN,Cultural Anthropology,Cornell University
299,"English, Duke University",NaN,"January 29, 2024",Rejected on 29 Jan,NaN,NaN,PhD,International,Fall 2024,NaN,NaN,English,Duke University

In [47]:
from fuzzywuzzy import process
import pandas as pd
from tqdm import tqdm
tqdm.pandas()  # Prepare tqdm for pandas

# Assuming 'schools' and 'df' are your DataFrames

# Initialize a hashmap (dictionary) to store previously computed matches
matches_cache = {}

def find_most_similar_with_cache(row, choices, scorer, cache):
    # Check if the current row's value is already in the cache
    if row in cache:
        return cache[row]
    else:
        # If not in cache, find the most similar match and store it in the cache
        row = row.replace("Penn","Pennsylvania").replace("MIT",'Massachusetts Institute of Technology').replace('Berkeley','University of California--Berkeley').replace('UCLA','University of California--Los Angeles')
        row = row.replace('UCSB','University of California--Santa Barbara')
        row = row.replace('UCI','University of California--Irvine')
        row = row.replace('UC','University of California')
        row = row.replace("UCD",'University of California--Davis')
        row = row.replace('UCSD','University of California--San Diego')
        row = row.replace("SD",'San Diego')
        row = row.replace("SB",'--Santa Barbara')
        row = row.replace("Princeton","Princeton University")
        row = row.replace("Penn State University",'Pennsylvania State University--University Park')
        match, score = process.extractOne(row, choices, scorer=scorer)
        cache[row] = match
        return match

# Prepare the list of choices from schools DataFrame
choices = schools['Name'].tolist()

# Apply the function to each row in df['School'], now using a cache for optimization
p2['School_Sim'] = p2['School'].progress_apply(find_most_similar_with_cache, args=(choices, fuzzywuzzy.fuzz.token_sort_ratio, matches_cache))

# Proceed to merge the DataFrames based on the found most similar school names
result_df = pd.merge(schools, p2, left_on='Name', right_on='School_Sim', how='left')

100%|████████████████████████████████████████| 200/200 [00:00<00:00, 210.33it/s]

In [51]:
from fuzzywuzzy import process
import pandas as pd
from tqdm import tqdm
tqdm.pandas()  # Prepare tqdm for pandas

# Assuming 'schools' and 'df' are your DataFrames

# Initialize a hashmap (dictionary) to store previously computed matches
matches_cache = {}

def find_most_similar_with_cache(row, choices, scorer, cache):
    # Check if the current row's value is already in the cache
    if row in cache:
        return cache[row]
    else:
        try:
            row = row.replace("Penn","Pennsylvania").replace("MIT",'Massachusetts Institute of Technology').replace('Berkeley','University of California--Berkeley').replace('UCLA','University of California--Los Angeles')
            row = row.replace('UCSB','University of California--Santa Barbara')
            row = row.replace('UCI','University of California--Irvine')
            row = row.replace('UC','University of California')
            row = row.replace("UCD",'University of California--Davis')
            row = row.replace('UCSD','University of California--San Diego')
            row = row.replace("SD",'San Diego')
            row = row.replace("SB",'--Santa Barbara')
            row = row.replace("Princeton","Princeton University")
            row = row.replace("Penn State University",'Pennsylvania State University--University Park')
            # If not in cache, find the most similar match and store it in the cache
            match, score = process.extractOne(row, choices, scorer=scorer)
            cache[row] = match
            return match
        except:
            return 'nothing'

# Prepare the list of choices from schools DataFrame
choices = schools['Name'].tolist()

# Apply the function to each row in df['School'], now using a cache for optimization
df['School_Sim'] = df['School'].progress_apply(find_most_similar_with_cache, args=(choices, fuzzywuzzy.fuzz.token_sort_ratio, matches_cache))

  5%|█▊                                 | 44711/847725 [00:58<13:27, 994.98it/s]WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']
 12%|████                               | 97611/847725 [02:08<16:55, 738.47it/s]WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: ' ">']
 89%|██████████████████████████████▎   | 756288/847725 [30:16<03:47, 401.95it/s]WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: ' -------------------']
 89%|██████████████████████████████▎   | 756784/847725 [30:17<03:58, 381.71it/s]WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: ' ........']
100%|██████████████████████████████████| 847725/847725 [35:37<00:00, 396.58it/s]

In [52]:
result_df = pd.merge(schools, df, left_on='Name', right_on='School_Sim', how='left')

In [58]:
result_df[['Name','Location','Status_Date','School']].to_csv('/Users/simonbian/大三下/CS470/local_temp/res.csv')

In [59]:
status = result_df[['Name','Location','Status_Date','School']]

In [62]:
# Assuming 'Status_Date' is a column in a DataFrame named 'df'
status[['status', 'remainder']] = df['Status_Date'].str.split(' ', n=1, expand=True)

/var/folders/0p/bfk7s5314wzfkww172k0x4280000gn/T/ipykernel_36015/2771827995.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status[['status', 'remainder']] = df['Status_Date'].str.split(' ', n=1, expand=True)
/var/folders/0p/bfk7s5314wzfkww172k0x4280000gn/T/ipykernel_36015/2771827995.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  status[['status', 'remainder']] = df['Status_Date'].str.split(' ', n=1, expand=True)

In [66]:
status = status[['status','Location','Name']]

In [68]:
counts = status.groupby(['Name', 'Location', 'status']).size().unstack(fill_value=0)
counts['Total'] = counts.sum(axis=1)

# Calculate rates
counts['acc'] = counts.get('Accepted', 0) / counts['Total']
counts['rej'] = counts.get('Rejected', 0) / counts['Total']
counts['int'] = counts.get('Interview', 0) / counts['Total']  # Assumes 'Interview' status exists

# Reset index to convert indices and columns to a DataFrame
result = counts.reset_index()

# Select and rename columns
result = result[['Name', 'Location', 'acc', 'rej', 'int']]
result.columns = ['School Name', 'School Loc', 'Acc Rate', 'Rej Rate', 'Int Rate']

In [74]:
result[['School City','State']]=result['School Loc'].str.rsplit(',', 1, expand=True)

/var/folders/0p/bfk7s5314wzfkww172k0x4280000gn/T/ipykernel_36015/3907001223.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.rsplit except for the argument 'pat' will be keyword-only.
  result[['School City','State']]=result['School Loc'].str.rsplit(',', 1, expand=True)

In [76]:
result

,School Name,School Loc,Acc Rate,Rej Rate,Int Rate,School City,State
0,Adelphi University,"Garden City, NY",0.487694,0.347150,0.093264,Garden City,NY
1,American University,"Washington, DC",0.403320,0.269433,0.266113,Washington,DC
2,Andrews University,"Berrien Springs, MI",0.387136,0.429612,0.007282,Berrien Springs,MI
3,Arizona State University--Tempe,"Tempe, AZ",0.383726,0.350439,0.009246,Tempe,AZ
4,Ashland University,"Ashland, OH",0.406149,0.461974,0.007282,Ashland,OH
...,...,...,...,...,...,...,...
226,Western Michigan University,"Kalamazoo, MI",0.369530,0.420097,0.007131,Kalamazoo,MI
227,Widener University,"Chester, PA",0.410154,0.442099,0.041643,Chester,PA
228,Worcester Polytechnic Institute,"Worcester, MA",0.398982,0.382697,0.036641,Worcester,MA
229,Yale University,"New Haven, CT",0.360640,0.309022,0.191625,New Haven,CT
230,Yeshiva University,"New York, NY",0.400341,0.431005,0.034923,New York,NY

In [75]:
result.to_csv('Example.csv')